body{
    margin: 0px;
    padding: 0px;
}

table{
    border: 1px solid #000000;
}

table td, table th, table tr{
    border: 1px solid #000000;
    width: 156px;
}

.column{
    background-color: rgb(000, 000, 000, 0.5);
}